<html>
    <head>

    </head>

    <body>
        <form method="post" action="/?page=author&action=store">
            <label for="first name author">

            </label>

            <label for="last name author">

            </label>

            <label for="data of birth author">

            </label>

            <label for="isbn">

            </label>

            <label for="publisher">

            </label>

            <label for="publication date">

            </label>

            <label for="pages">

            </label>


        </form>
    </body>

</html>