<ul>
    <?php foreach ($books as $book) { ?>
    <li>
        <p>
            <?php echo $book->getId(); ?>

        </p>
        <p>
            <?php echo $book->getTitle(); ?>
        </p>
        <p>
            <?php echo $book->getIsbn(); ?>
        </p>
        <p>
            <?php echo $book->getPublisher(); ?>
        </p>
        <p>
            <?php echo $book->getPublicationDate(); ?>
        </p>
        <p>
        <a href="/?page=book&action=remove&id=<?php echo $book->getId();?>">delete</a>
        </p>
    </li>
    <?php } ?>
</ul>
<a href="/?page=home">home</a>