<html>
    <body>
    <p>
        Title:
        <?php echo $book->getTitle() ?>
    </p>
    <p>
        Author:
        <?php echo $author->getAuthorFirstName() . $book->getAuthorLastName() ?>
    </p>
    <p>
        Author's date of birth:
        <?php echo $author->getDateOfBirth() ?>
    </p>
    <p>
        ISBN:
        <?php echo $book->getIsbn() ?>
    </p>
    <p>
        Publisher:
        <?php echo $book->getStudentNumber() ?>
    </p>
    <p>
        PublishingDate:
        <?php echo $book->getPublishingDate() ?>
    </p>
    <p>
        Pages:
        <?php echo $book->getPages() ?>
    </p>
    <p>
        <a href="/?page=home">home</a>
    </p>
    </body>
</html>