<html>
<head>

</head>

<body>
<h1>Add Book</h1>
<form method="post" action="?page=book&action=store">
    <div>
        <label for="title">title</label>
        <input type="text" name="title" id="title">
    </div>

    <div>
        <label for="firstName">first name author</label>
        <input type="text" name="firstName" id="firstName">
    </div>
    <div>
        <label for="lastName">last name author</label>
        <input type="text" name="lastName" id="lastName">
    </div>
    <div>
        <label for="dateOfBirth">date of birth author</label>
        <input type="date" name="dateOfBirth" id="dateOfBirth">
    </div>

    <div>
        <label for="isbn">isbn</label>
        <input type="number" name="isbn" id="isbn">
    </div>

    <div>
        <label for="publisher">publisher</label>
        <input type="text" name="publisher" id="publisher">
    </div>
    <div>
        <label for="publicationDate">publishing date</label>
        <input type="date" name="publicationDate" id="publicationDate">
    </div>
    <div>
        <label for="pages">pages</label>
        <input type="number" name="pages" id="pages">
    </div>

    <input type="submit" value="send">
</form>
<a href="/?page=home">home</a>
</body>

</html>