<html>
<head>

</head>

<body>
<h1>Add Magazine</h1>

<form method="post" action="?page=magazine&action=store">
    <div>
        <label for="title">title</label>
        <input type="text" name="title" id="title">
    </div>

    <div>
        <label for="editor">editor name</label>
        <input type="text" name="editor" id="editor">
    </div>
    <div>
        <label for="issn">issn</label>
        <input type="number" name="issn" id="issn">
    </div>

    <div>
        <label for="publisher">publisher</label>
        <input type="text" name="publisher" id="publisher">
    </div>
    <div>
        <label for="publicationDate">publishing date</label>
        <input type="date" name="publicationDate" id="publicationDate">
    </div>
    <div>
        <label for="occurrence">occurrence</label>
        <input type="number" name="occurrence" id="occurrence">
    </div>

    <input type="submit" value="send">
</form>
</body>
<a href="/?page=home">home</a>
</html>