<html>

<head></head>

<body>
<h1>main menu</h1>
<ul>
    <h1>Books:</h1>
    <li>
        <a href="/?page=book&action=create">add book</a>
    </li>
    <li>
        <a href="/?page=book&action=">book list</a>
    </li>
</ul>

<ul>
    <h1>Magazines:</h1>
    <li>
        <a href="/?page=magazine&action=create">add magazine</a>
    </li>
    <li>
        <a href="/?page=magazine&action=">magazine list</a>
    </li>
</ul>
<ul>
    <h1>All Items:</h1>
    <li>
        <a href="/?page=item&action=show">show all items</a>
    </li>
</ul>
</body>

</html>